.productSlider{
    /*border: 1px solid #000;*/
    height: 420px;
    margin: 'auto';
    margin-top: 20px;

    overflow: hidden;
}
.productSlider .carousel{
    height: 280px !important;
}
.legend {
    opacity: 1;
    display: none;
}
.productSlider .animated{
    height: 100% !important;
}
.productSlider .carousel .thumbs-wrapper {
    margin: 20px;
    overflow: hidden;
}
.productInfo{
    min-height: 400px;
    padding-left: 3%;
    margin-top: 20px;

}
.productLove{
    width: 40px;
    height: 28px;
    position: absolute;
    color: #fff;
    padding: 4px;
    cursor: pointer;
    top: 30px;
    right: 30px;
}

.image-gallery-slide img {
    width: 100%;
    height: 100%;
}
.image-gallery {
    height: 100%;
}
.image-gallery-content {
    height: 100%;
}
.image-gallery-slide-wrapper {
    position: relative;
    height: 80%;
}
.image-gallery-swipe{
    height: 100%;
}
.image-gallery-slides, .image-gallery-image {
  
    height: 100%;
}
.image-gallery-slide.center {
    position: relative;
    height: 100%;
}
.image-gallery-play-button{
    display: none;
}
.image-gallery-right-nav , .image-gallery-left-nav{
    background: transparent;
    font-size: 30px !important;
}
.image-gallery-right-nav:focus , 
.image-gallery-left-nav:focus , 
.image-gallery-fullscreen-button:focus{
    background: transparent;
    outline: none;
}
.fullscreen .bottom{
    height: 100%;
}
.image-gallery-thumbnail img {
    vertical-align: middle;
    width: 100%;
    height: 60px;
}
.name{
    font-weight: 500;
    font-size: 25px;
}
.price{
    font-weight: 500;
}
.price span{
    font-weight: 400;
}
.soled{
    font-weight: 500;
    margin-bottom: 20px;
}
.soled span{
    font-weight: 400;
    color: #8590a7;
}
.totalRate{
    color:#46a0fc;
    font-weight: 500;
}
.desc{
    color: #8590a7;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 18px;
}
.moredesc{
    color: rgb(70, 160, 252) !important;
    font-weight: 400;
    margin-bottom: 15px;
    display: inline-block;
}
.addBtn{
    color: white;
    background-color: #46a0fc;
    width: 250px;
    border-radius: 7px;
    height: 45px;
    margin-bottom: 40px;
    text-align: center;
    margin: auto;
}
.addBtn:hover,.addBtn:focus{
    color: white;
    background-color: #46a0fc;
   
}
.comments{
    min-height: 400px;   
    margin: auto;
    padding: 10%;
    padding-bottom: 3%;
}
.comments input{
    background: #fff !important;
    padding: 4px 11px !important;
    margin: 0 0 0px 0 !important;
    height: 3rem !important;
    width: 97% !important;
    box-shadow: 0px 1px 4px #aaa !important;
}
.comments input:focus{
    box-shadow: 0px 1px 4px #46a0fc !important;
}
.react-rater-star.will-be-active , .react-rater-star.is-active {
    color: #ffb900 !important;
}
.react-rater > * {
    display: inline-block;
    font-size: 28px;
}
.comments .react-rater{
    float: left;
}
.comment{
    margin-top: 10px;
    min-height: 120px;
    background: #fff;
    
}
.comment img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: -26px;
}
.nameSpan{
    display: inline-block;
    font-weight: bold;
    margin-left: 8px;
    margin-top: 15px;
}
.city{
    display: block;
    font-weight: 400;
    color: #a1a1a9;
}
.commentTop .react-rater{
    float: right;
    margin-top: 20px;
}
.commentTop .react-rater > * {
    display: inline-block;
    font-size: 100%;
}
.commentTime{
    float: right;
    padding: 20px 13px;
    color: #747274;
}
.allComments{
    background-color: #fff;
    margin-top: 60px;
    padding: 10px;
    max-height: 400px;
    overflow-y: scroll;

}
.commentLow{
    margin-top: 2%;
}
@media screen and (max-width: 399px){
    .commentTop .react-rater {
        float: right;
        margin-top: 35px;
        margin-right: -70px;
    }
    .comment img {
        width: 40px;
        height: 40px;
    }
}
.infoCart{
    right: 25px !important;
}
