.contact{
    margin: auto;
    width: 430px;
    height: 500px;
    padding: 20px;
    padding-top: 60px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
.contact input{
    background: #fff !important;
    padding: 4px 11px !important;
    border: 1px solid #b8bbc0 !important;
    margin: 0 0 0px 0 !important;
    border-radius: 0px !important;
    height: 2.4rem !important;
    width: 93% !important;
}
.login input:focus{
    border: 1px solid #3497fd !important;
    border-bottom: 0px solid #3497fd !important;
}
.login .ant-input-suffix {
    right: 20px;
    top: 50%; 
}
.login .loginBtn{
    color: white;
    background-color: #46a0fc;
    width: 180px;
    height: 45px;
    margin-bottom: 40px;
}
.contact textarea {
    border-radius: 0px !important;
    border: 1px solid #b8bbc0 !important;
}
