.cartTop{
    width: 100%;
    min-height: 900px;
}
.cartTop ul li{
    list-style: none;
    display: inline-block;
    margin: 40px;
    font-size: 16px;
    font-weight: 500;
    border-bottom:2px solid #46a0fc;
    padding-bottom:2px;
    cursor: pointer;
    letter-spacing: 2px;
    color: #9ba3b6;
}
.myPart{
    width: 100%;
    height: 200px;
    padding: 20px;
    position: relative;
}
.myPart img{
    height:100%;
}
.myPartDec{
    display: inline-block;
    position: absolute;
    padding-left: 30px;
    width: 75%;
}
.myPartDec p{
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0.5rem;
}
.myPartDec .react-rater{
    margin-top: -14px;
    margin-bottom: 8px;
}
.myPartDec .react-rater > * {
    display: inline-block;
    font-size: 22px;
}
.myPartDec .ant-input-number-handler-wrap {
   
    opacity: 1 !important;
    background: #f6f6f6 !important;
}
.myPartDec .ant-input-number-input-wrap{
    height: 30px;
}
.myPartDec .ant-input-number-input{
    height: 100%;
    background: #f6f6f6 !important;
    border: 0px !important;
    padding: 0px 6px;
}
.myPartDec .ant-input-number-input:focus{
    height: 100%;
    background: #f6f6f6 !important;
    border: 0px !important;
}
.myPart a{
    color: red !important;
    border-bottom: 1px solid;
    font-weight: 400;
    font-size: 14px;
}
.numberInput{
    width: 50px !important;
    height: 30px !important;
    padding: 0px 6px !important;
    border-bottom: 2px solid #46a0fc !important;
    margin-left: 10px !important;
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
  }

.qtySpan{
    font-size: 14px;
    font-weight: 600;
    color: #78849e;
}
/**/
.stock{
    margin-right: 80px;
    
}
.stockPrice{
    margin-left: 80px;
}
/**/
.bill{
    width: 100%;
    background: #fff;
    height: 330px;
    padding: 30px;
    margin-top: 130px;
}
.bill span{
    margin-bottom: 3px;
    display: inline-block;
}
.bill .spanLeft{
    width: 100%;
    color: #9ba3b6;
    font-weight: 400;
}
.bill .addBtn{
    border-radius: 0px;
    outline: none;
    margin: 6%;
    margin-top: 28%;
    width: 90%;
}
.bill .addBtn span{
    font-size: 12px;
}

@media screen and (max-width: 991px){
    .bill .addBtn{
        margin-top: 14%;
    }
    .bill .addBtn span{
        font-size: 14px;
    }
}
@media screen and (max-width: 767px){
    .stock{
        margin-right: 40px !important;
    }
    .stockPrice{
        margin-left: 80px;
    }
    .myPartDec{
        width: 60%;
    }
}
@media screen and (max-width: 550px){
    .stockQ{
        display: block;
    }
    .stock{
        margin-right: 0px !important;
    }
    .stockPrice{
        margin-left: 34px;
    }
}
@media screen and (max-width: 400px){
    .stockPrice{
        display: block;
        margin-left: 0px;
        margin-top: 5px;
    }
    .myPartDec{
        padding-left: 20px;
        width: 47%;
    }
    .myPart img {
        height: 100%;
        width: 40%;
    }
    .myPart {
        width: 100%;
        height: 200px;
        padding: 0px;
        position: relative;
        margin-bottom: 20px;
    }
    
    
}

.cartStep2 .ant-input{
    border-bottom: 2px solid #d1d1d1 !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}
.cartStep2 .ant-input:focus , .cartStep2 .ant-select-selection:focus,
.cartStep2 .ant-input:hover , .cartStep2 .ant-select-selection:hover{
    border-bottom: 2px solid #46a0fc !important;
}
.cartStep2 .ant-select-selection{
    background: transparent;
    border: 0px !important;
    border-bottom: 2px solid #d1d1d1 !important;
    border-radius: 0px !important;
    outline: none !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}
.cartStep2 .ant-select:hover{
    outline: none !important;
    border-bottom: 1px solid #46a0fc !important;
}

.cartStep2 .ant-select-selection__rendered {
    position: relative;
    display: block;
    margin-right: 11px;
    margin-left: 0px !important;
    line-height: 30px;
}
.cartStep2 .ant-select-arrow-icon{
    color: #000000 !important;
}
.cartStep2 .ant-select , .ant-select-enabled{
    outline: none !important;
}

.cartStep2 .ant-form-item {
    margin-bottom: 35px !important;
}
.cartStep2 .ant-form-item label {
    position: relative;
    margin-right: 100px;
}
.result{
    padding: 20px;
    margin-top: 50px;
}
.result h1{
    font-size: 40px;
    font-weight: 600;
}
.result .btnResult{
    width: 112px;
    height: 112px;
    border-radius: 50%;
    font-size: 10px;
    border: 2px solid #46a0fc;
    background: transparent;
    color: #000;
    font-weight: 600;
    text-align: center;
    padding: 0px;
}
.btnResult:hover{
    border: 2px solid #fff;
    background:#46a0fc;
}

@media screen and (max-width: 600px){
    .cartTop ul li{
      
        margin: 14px !important;
        margin-bottom: 40px !important;
        margin-top: 40px !important;
        font-size: 12px !important;
        font-weight: 500;

    }
}