.header{
    width: 100%;
    min-height: 450px;
    background-color: #3497fd;
}
.right{
    /*border: 1px solid #000;*/
    margin-top: 50px;
}
.right h1{
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
}
.right .loginButton{
    color: #3497fd;
    width: 135px;
    font-weight: 500;
    height: 45px;
    border-radius: 0% !important;

}
.right .signupButton,.right .signupButton:hover{
    color: #fff;
    width: 135px;
    font-weight: 500;
    height: 45px;
    margin-left: 10px;
    border-radius: 0% !important;
    background-color: transparent !important;
    border: .5px solid #fff;
}
.left{
    /*border: 1px solid #000;*/
    margin-top: 50px;
}
input{
    border: 0px !important;
}
.input-field input{
    background: #fff !important;
    height: 32px !important;
    border-radius: 2%;
}
.input-field .prefix.active{
    color: #000;
    
}
.input-field .prefix {
    background: #fff;
    height: 32px;
    padding: 2px 7px;
}
.rightNav{
    float: right;
}

.toBottom{
    text-align: center;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    border: 2px solid #fff;
    padding: .77rem;
    cursor: pointer;
    margin-top: -1.9rem;
    background-color: #3497fd;
    
}
.slideItem{
    border: 1px solid #d4d4d4;
    width: 100%;
    background: #fff;
}
.slideItem .bottom{
    /*border: 1px solid #000;*/
    padding: 10px;
}
.slideStyle .react-multi-carousel-item {
    width: 250px !important;
    margin: 10px !important;
}
.react-multi-carousel-track {
    margin-bottom: 15px;
}
.react-multi-carousel-dot button:hover,.react-multi-carousel-dot--active button {
    background: #3497fd !important;
}
.react-multi-carousel-dot button,.react-multi-carousel-dot button:active {
    width: 14px !important;
    height: 14px !important;
    border-color: #fff !important;
    outline: none;
}
i{
    cursor: pointer;
}
.arrow i{
    font-size: 30px ;
    color: #898d91 
}
.slideStyle .react-multi-carousel-dot-list {
    position: relative !important;
}
.bottom{
    background: #fff;
}
.bottom p{
    margin-bottom: 0.1rem;
}
.bottom i{
    font-size: 28px;
    color: #555657;
    margin: 2px;
}
.slideStyle .react-multi-carousel-list{
    margin-bottom: 10px;
}
.asdSlider .react-multi-carousel-list{
    padding: 0 !important;
}
.react-multi-carousel-dot button{
    background: #aaa;
}
.title{
    /*font-family: "Pacifico", sans-serif;*/
    font-family: "EB Garamond", serif;
    font-size: 2.0em;
    letter-spacing: 0.1em;
    display: block;
    font-style: normal;
    padding-top: 0.1em;
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
    margin: 15px 0px 15px;
    color: #3497fd;
}
.title::before,
.title::after {
    content: "§";
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0.2;
    margin: 0 0.6em;
    font-size: 0.8em;
    color:'#3497fd !important'
  }
.seeMore{
    float: right;
    color: #3497fd;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}
.seeMoreBtn {
    font-size: 17px;
    font-weight: 400;
    position: relative;
    width: 166px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #3497fd;
    cursor: pointer;
    overflow: hidden;
    background: transparent !important;
    border: none;
    box-shadow: none;
    float: right;
    margin-top: -25px;
  }
  .seeMoreBtn svg {
    position: absolute;
    top: 0; left: 0;
  }
  .seeMoreBtn svg rect {
    stroke: #3497fd;
    stroke-width: 4;
    stroke-dasharray: 422, 0;
    stroke-dashoffset: 0;
    
   transition :all 900ms ease-in-out;
  }
  .seeMoreBtn:hover svg rect {
    stroke-width: 6;
    stroke-dasharray: 110, 312;
    stroke-dashoffset: 183;
  }
  
.slideStyle{
    margin-top: 50px;
    background: #fff;
    padding: 5px;
    height: 510px;
}
.asdSlider{
    margin-top: -25px;
}
.offer{
    width: 40px;
    height: 28px;
    position: absolute;
    margin-top: -44px;
    color: #fff;
    padding: 4px;
    background-color: orange;
    margin-left: -3px;
    padding-left: 7px;
}
.cart{
    width: 40px;
    height: 28px;
    position: absolute;
    margin-top: -188px;
    color: #fff;
    padding: 4px;
    float: right;
    margin-left: 200px;
    cursor: pointer;
}
.love{
    width: 40px;
    height: 28px;
    position: absolute;
    margin-top: -188px;
    color: #fff;
    padding: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.pname{
    font-size: 16px;
    font-weight: 400;
}
/*///////////////////////////////////////*/
.categoties{
    width: 100%;
    background: #fff;
    min-height: 371px;
    margin-top: 60px;
    padding: 0px;
    padding-top: 1px;
}
.categoties a{
    color: #000;
}
.categoryIcon{
    border: .1px solid #f5f5f5 !important;
    height: 150px;
    padding-top: 20px;
    margin-bottom: 0px;
    cursor: pointer;
}
.categoryIcon:hover{
    background: #f5f5f5;
}
.checked{
    color: orange;
    margin: 2px;
}