.header{
    width: 100%;
    min-height: 450px;
    background-color: #46a0fc;
}
.logo{
    margin-top: 17px;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    font-family: sans-serif;
}
.left{
    /*border: 1px solid #000;*/
    margin-top: 50px;
}
.left h1{
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    /*margin-bottom: 50px;*/
    margin-bottom: 30px;

}
.left .loginButton{
    color: #3497fd;
    width: 150px;
    font-weight: 500;
    height: 45px;
    border-radius: 0% !important;
    border: .5px solid #fff;

}
.loginButton:hover{
    color: #fff;
    border: .5px solid #fff;
    background-color:#46a0fc !important  ;

}
.left .signupButton{
    color: #fff;
    width: 150px;
    font-weight: 500;
    height: 45px;
    margin-left: 10px;
    border-radius: 0% !important;
    background-color: transparent !important;
    border: .5px solid #fff;
}
.signupButton:hover{
    color: #46a0fc !important;
    background: #fff !important;
    border: 2px solid #46a0fc !important;
}
.right{
    /*border: 1px solid #000;*/
    margin-top: 20px;
    text-align: right;
}

.input-field input{
    background: #fff !important;
    height: 32px !important;
    border-radius: 2%;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
.input-field .prefix.active{
    color: #000;
    
}
.input-field .prefix {
    background: #fff;
    height: 32px;
    padding: 5px 7px;
    color: #6c676d;
    font-size: 1.5rem;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;

}
.rightNav{
    float: right;
}
.rightNav li{
    display: inline-block;
    color: #fff;
    font: 3.1em sans-serif;
    padding-left: 3rem;
    padding-right: 1rem;
}
.toBottom{
    text-align: center;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    border: 2px solid #fff;
    padding: .77rem;
    cursor: pointer;
    margin-top: -3rem !important;
    background-color: #3497fd;
    transition: all 1s ease-in-out
    
}
.toBottom:hover{
    transform: rotate(360deg);
    background-color: #fff;
    border: 2px solid #3497fd;
    color: #3497fd;
}
@media screen and (max-width: 767px){
.toBottom{
    margin-top: -3.5rem;
}
.right img{
    float: left;
    margin-bottom: 50px;
}
}
@media (min-width: 1200px){
    .container {
        max-width: 1250px  !important;
    }
}


