.aboutUs h1{
    font-weight: 400;
    font-size: 42px;
}
.aboutBody{
    background: #e9ebef;
    width: 100%;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: 0px 3px 8px #aaa;
    font-weight: 400;
}