.login{
    margin: auto;
    width: 430px;
    height: 500px;
    padding: 20px;
    padding-top: 60px;
    text-align: center;
    margin-bottom: 50px;
}
.login input{
    background: #fff !important;
    padding: 4px 11px !important;
    border: 1px solid #78849e !important;
    margin: 0 0 0px 0 !important;
    border-radius: 7px !important;
    height: 2.4rem !important;
    width: 93% !important;
}
.login input:focus{
    border: 1px solid #3497fd !important;
    border-bottom: 0px solid #3497fd !important;
}
.login .ant-input-suffix {
    right: 20px;
    top: 50%; 
}
.login .loginBtn{
    color: white;
    background-color: #46a0fc;
    width: 180px;
    height: 45px;
    margin-bottom: 40px;
}
.login h5{
    color: #78849e;
    font-weight: 300;
    margin-bottom: 20px;
}
.login a{
    color:#000;
    font-weight: 400;
}
.login hr {
    margin-top: .6rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #3497fd;
    width: 52%;
}
.social > button{
    display: inline-flex;
    align-items: center;
    color: #fff !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 0px 0px,
     rgba(0, 0, 0, 0.24) 0px 0px 0px 0px !important;
    padding: 0px;
    border-radius: 2px;
    border: 1px solid #aaa !important;
    font-size: 15px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    padding: 0px 6px;
    width: 80% !important;
    font-size: 15px !important;
    background: #fc5345 !important;
    padding-left: 10px !important;

}
.social > button span{
    padding: 10px 10px 10px 6px !important;
}
.social > button div{
    background: transparent !important;
}
.kep-login-facebook.metro {
    border-radius: 0 !important;
    width: 80% !important;
    height: 45px !important;
    font-size: 15px !important;
    padding: 0px 12px !important;
    font-weight: 400 !important;
    text-align: left !important;
    margin-top: 10px !important;
    font-family: Roboto, sans-serif !important;
    font-size: 15px !important;
    padding-left: 25px !important;
    text-transform: initial !important;
    margin-bottom: 15px !important;

}
.kep-login-facebook .fa {
    margin-right: calc(1.6443vw + 3.38843px) !important;
}