.profile{
    width: 100%;
    min-height: 250px;
    background-color: #3497fd;
    
}
.info{
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    padding: 70px;
    box-shadow: 5px 8px 20px 0px #aaa;
    margin-bottom: 10%;
}
.headT{
    font-size: 26px;
    font-weight: 600;
    color: #2d2e40;
}
.colp{
    font-size: 18px;
    font-weight: 500;
}
.cold{
    font-weight: 400;
    color: #575757;
}
.profilePic{
    text-align: center;
    margin-top: -9rem;
    margin-bottom: 20px;
    transition: all 1s ease-in-out
}
.profilePic img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 12px solid #f6f6f6;
}
.profBtnG{
    width: 100%;
    text-align: right;
    margin-top: 30px;
}
.profBtn{
    
    color: white;
    background-color: #46a0fc;
    width: 150px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 40px;
    text-align: center;
    margin: 10px;

}
.ant-modal-body .ant-input{
    border-bottom: 1px solid #46a0fc !important;
    padding: 0px !important;
}
.ant-modal-title {
    margin: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    word-wrap: break-word;
    color: #5b5e6f;
}
.ant-modal-footer {
    text-align: center;
    padding: 10px 16px 26px;
}
.ant-modal-body .ant-select-selection--single {
    border-bottom: 1px solid #40a9ff !important;
    border: 0px;
    border-radius: 0px !important;
}
.ant-modal-body .ant-select-arrow {
    color: #000 !important;
}
.favs{
    min-height:400px;
    margin: 4%;
}
.favs ul li{
    text-align: center;
    list-style: none;
    display: inline-block;
    margin: 20px;
    font-size: 16px;
    font-weight: 500;
    padding-bottom:2px;
    cursor: pointer;
    letter-spacing: 2px;
    color: #9ba3b6;
}
.profileNav{
    text-align: center;
}
.orderHeader{
    height: 200px;
    /* border: 1px solid #000; */
    background: #e9ebef;
    box-shadow: 0px 3px 8px #aaa;
    width: 100%;
    padding: 15px;
}
.orderHeader .cold{
    color: #242429 !important;
}
.orderHeader .cold span{
    font-weight: 500;
}
.orderBody{
    width: 100%;
    
}
.cam{
    border: 0 !important;
    width: 110px !important;
    height: 110px !important;
    position: absolute !important;
    margin-top: 10px !important;
    margin-left: -120px !important;
    cursor: pointer;
    display: none;
    transition: all 1s ease-in-out
}
.profilePic:hover .cam{
    display: inline;
    transition: all 1s ease-in-out
}
.upImg{
    opacity: 0;
    position: absolute;
    margin-left: -110px;
    margin-top: 12px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index: 1000;
    cursor: pointer;
}