.topHeader{
  background-color: #3497fd;
}
.rightNav a{
  color: #fff !important;
}
.rightNav{
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 100%;
}
.downMenu{
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  height: 100%;
}
.downMenu:hover
{
    background: #7fccee;
}
.dropdown-button{
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
  margin-right: 20px;
}
nav ul a {
  height: 64px !important;
}
.dropdown-content{
  width: 24% !important;
  opacity: .9 !important;
  top: 64px !important;
  

}
.ant-avatar{
  width: 40px !important;
  height: 40px !important;
}

.dropdown-content li, .dropdown-content li > a{
  height: 115px !important;

}

.notif{
 
  left: 900px !important;

}
.dropdown-content li>a, .dropdown-content li>span {
  line-height: 36px !important;
  padding: 14px 16px;
}

.hide-on-med-and-down{
  display: inline-block !important;
  margin-right: 2%;

}
@media screen and (max-width: 1010px){

  .hide-on-med-and-down{
    margin-right: 3%;
  }
  
}
@media screen and (max-width: 810px){

  .hide-on-med-and-down{
    margin-right: 6%;
  }
  
}
@media screen and (max-width: 610px){

  .hide-on-med-and-down{
    margin-right: 9%;
  }
  
}
@media screen and (max-width: 470px){
  .input-field{
      padding: 0;
      margin: 0;
  }
  .ref{
      display: none
  }
  .action{
      width: 40px;
  }
  .hide-on-med-and-down{
    margin-right: 12%;
  }
  
}
@media screen and (max-width: 570px){
  .menu-btn , .menu-btn:hover{
      margin-top: 68px !important;
      margin-left: 0px !important;
      background: #26a69a;
  }
  .hide-on-med-and-down{
    margin-right: 10%;
  }
  
}
.ant-list-item-meta{
  padding-left: 18px !important
}

.ant-dropdown-menu-split {
  padding: 10px 0px !important;
  margin-left: -320px !important;
  width: 360px !important;
  max-height: 527px !important;
  overflow-y: scroll !important;
  margin-top: 18px !important;
}
.ant-spin-container{
  padding: 20px !important;
}
.ant-list-item {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 5px #AA9;
}
.ant-list-item-meta-description {
  color: #6b6767;
  font-size: 12px;
  line-height: 22px;
  font-family: serif;
  font-weight: 200;
  line-break: anywhere !important;
}
.ant-list-item-meta-title > a {
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 400;
}

.ant-list-item :hover{
  cursor: pointer;
}
.ant-dropdown-menu-footer{
  text-align: center
}
.ant-list-item-meta-title {
  margin-bottom: 4px;
  color: #000 !important;
  font-size: 15px !important;
  line-height: 22px;
}
span.badge {
  display: inline-block;
  min-width: 1rem !important;
  padding: 0px 0px !important;
  margin-left: -14px !important;
  text-align: center;
  /*padding-top: -2px;*/
  font-size: 11px;
  line-height: 16px !important;
  border-radius: 50% !important;
  height: 16px !important;
  color: #fff !important;
  box-sizing: border-box;
  margin-top: 14px !important;
  z-index: 3 !important;
  position: absolute;
  font-weight: 500;
  width: 16px !important;
}

.ant-list-item{
  margin-top: -22px !important;

}
.nav2{
  display: none;
}
@media screen and (max-width: 1200px){/*responsive to 992px*/
  .rightNav {
    float: left ;
}
  .rightNav li{
    display: inline-block;
    color: #fff;
    font: 3.1em sans-serif;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.downMenu{
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  height: 100%;
}
}
@media screen and (max-width: 767px){/*responsive to 992px*/
  .rightNav {
    float: right !important;
}
  .nav2{
    display: block;
  }
  .nav1{
    display: none;
  }
  .rightNav li{
    display: inline-block;
    color: #fff;
    font: 3.1em sans-serif;
    padding-left: .5rem !important;
    padding-right: .5rem !important;
  }
  .title {
    font-size: 1.5em !important;
    margin: 15px 0px 8px;
  }
  .arrow i {
    font-size: 22px;
    color: #898d91;
  }
  .material-icons {
    font-size: 22px;
  }
  .ant-dropdown-menu-split {
    margin-top: 8px !important;
  }
  .arrowCostom{
    margin-top: -475px !important;
  }
  .arrow i {
    font-size: 22px !important;
    color: #898d91;
}

}