.categoryItem{
    margin-bottom: 20px;
}
.categoryTop{
    padding: 15px;
    width: 100%;
}
.categoryTop p{
    display: inline-block;
}
.categoryRight{
    float: right;
}
.ant-pagination-item-link .anticon-left svg , .ant-pagination-item-link .anticon-right svg{
    margin-top: -6px;
}
.ant-pagination-item{
    border: .5px solid #aaa;
}
.ant-pagination-item-active{
    border-color: #676a79 !important;
}
.ant-pagination-item-link{
    background: transparent !important;
    border: 0px !important;
    color: #000 !important;
    font-weight: bold !important;
    font-size: 14px !important;
}
.ant-pagination {
    float: right;
}
.ant-pagination-item{
    background: transparent;
}
.ant-collapse {
    border: 0px;
    border-top: 1px solid #d9d9d9;
}
.ant-collapse-content-active , .ant-collapse-item{
    background: #f6f6f6;
    border: 0px;
}
.ant-collapse-header {
    padding: 12px 3px !important;
    padding-right: 40px;
    color: #000;
    font-weight: 500;
    font-size: 18px;
}
.ant-collapse-content-box {
    padding: 5px !important;
}
.ant-collapse-arrow {
    right: 2px !important;
}
.ant-checkbox + span {
    padding-right: 8px;
    padding-left: 8px;
    font-weight: 500;
    color: #8690a7;
}
.priceCheck .ant-col {
    margin-bottom: 10px;
}
.ant-dropdown-menu-item{
    height: 30px
}

@media screen and (max-width: 767px){
    .categoryPrice{
        font-weight: 500;
        display: inline-block;
        float: right;
    }
    .arang{
        display: none !important
    }
    .categoryName {
        font-weight: 500;
        font-size: 16px !important;
    }
}