.login{
    margin: auto;
    width: 430px;
    height: 500px;
    padding: 20px;
    padding-top: 60px;
    text-align: center;
    margin-bottom: 50px;
}
.login input{
    background: #fff !important;
    padding: 4px 11px !important;
    border: 1px solid #78849e !important;
    margin: 0 0 0px 0 !important;
    border-radius: 7px !important;
    height: 2.4rem !important;
    width: 93% !important;
}
.theemail{
    background: #fff;
    border-radius: 10px;
    padding: 2px;
    color: #2a2e43;
    height: 25px;
    margin-bottom: 30px !important;
    text-align: center;
    width: 80%;
    margin: auto;
}
.eIcon{
    width: 20px;
    height: 20px;
    font-size: 17px !important;
    margin-top: 2px;
    position: absolute;
    float: left;
    text-align: left !important;
    margin-left: -23px;
}
.login input:focus{
    border: 1px solid #3497fd !important;
    border-bottom: 0px solid #3497fd !important;
}
.login .ant-input-suffix {
    right: 20px;
    top: 50%; 
}
.login .nextBtn{
    color: white;
    background-color: #46a0fc;
    width: 180px;
    height: 45px;
    margin-bottom: 40px;
    margin-top: 50px;
}
.login h1{
    font-weight: 400;
    color: #2a2e43;
    margin-bottom: 15px;
}
.login p{
    font-weight: 500;
    color: #2a2e43;
    margin-bottom: 50px;
    font-size: 14px;
}
.login a{
    color:#000;
    font-weight: 400;
}
.login hr {
    margin-top: .6rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #3497fd;
    width: 52%;
}
