.footerStyle{
    width: 100%;
    min-height: 360px;
    background: #2a2e43;
    margin-top: 100px;
    padding-top: 60px;
    color: #fff;
    font-size: 18px;
}
.footerStyle h4{
    color: #3497fd;
}
.footerStyle ul li{
    font-size: 16px;
    margin-bottom: 5px;
}
.footerStyle ul li a{
    font-size: 16px;
    margin-bottom: 5px;
    color: #fff;
}